.modalWindowBcg{
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #808080;
  opacity: 0.4;
  top: 0;
  left: 0;
  display: none;
}
.modalWindow{
  z-index:101;
  position: fixed;
  //top: 141px;/*нельзя выровнять по центру вертикали, т.к. не задана высота...*/
  top:0;
  left: 0;
  right: 0;
  margin: auto;
  width:360px;
  background:white;
  display: none;
}
.modalWindow-close{
  position:absolute;
  top:0;
  right:0;
  width:30px;
  text-align: center;
  cursor:pointer;
  background:red;
}